# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.db
*.opendb
*.ipch
*.lastbuildstate
*.tlog

/.vs

/UnitTests/.vs
/UnitTests/output
/UnitTests/intermediate

/Engine/.vs
/Engine/output
/Engine/intermediate

/Examples/TestGM/.vs
/Examples/TestGM/output
/Examples/TestGM/intermediate

/Extensions/ResourceIO/.vs
/Extensions/ResourceIO/output
/Extensions/ResourceIO/intermediate

/Extensions/ResourceConverter/.vs
/Extensions/ResourceConverter/output
/Extensions/ResourceConverter/intermediate



*.TMP
