# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.db
*.opendb
/AdvancedGDK/.vs/AdvancedGDK/v15/Browse.VC.db
*.ipch
*.lastbuildstate
*.tlog
/AdvancedGDK/.vs/AdvancedGDK/v15
/AdvancedGDK/Debug
/UnitTestMath/Debug
/UnitTests/Debug
/.vs/AdvancedGDK/v15/Preview
/ExampleGM/Debug
/ExampleGM/lib/Debug
/.vs
/ExampleGM/intermediate/Debug
/ExampleGM/x64/Debug
/Prototypes/Actions/intermediate
/Prototypes/Actions/output/Win32/Debug
/Prototypes/Math/intermediate
/Prototypes/Math/output/Win32/Debug
/Prototypes/Text/intermediate
/UnitTests/intermediate
/UnitTests/output
/ExampleGM/intermediate/Win32/Debug
/ExampleGM/output/Win32/Debug
/AdvancedGDK/intermediate/Win32/Debug
/AdvancedGDK/output/Win32/Debug
/SAMP-EDGEngine-UnitTests/output/Win32/Debug
/SAMP-EDGEngine-UnitTests/intermediate/Win32/Debug
/SAMP-EDGEngine/output/Win32/Debug
/SAMP-EDGEngine/intermediate/Win32/Debug
/SAMP-EDGEngine/.vs/AdvancedGDK/v15
/Examples/TestGM/intermediate/Win32/Debug
/Examples/TestGM/output/Win32/Debug
/IO/Converter/intermediate/Win32/Debug
/IO/Converter/output/Win32/Debug
